<!DOCTYPE html>
<html lang="en">
<head>
      <title>Home</title>
      <%- include ('../partials/head') %>
</head>

<body>
    <%- include('../partials/header'); %>
        <h1>Homepage</h1>
        <p>
            <%= tagline %>
        </p>
        <ul>
            <% users.forEach((user)=> {%>
                <li>
                    <%= user.name %> - <%= user.email %>
                </li>
                <% }) %>
        </ul>
        <%- include('../partials/footer'); %>
</body>
</html>